spring:
  application:
    name: SocialLearningPlatform

  datasource:
    url: jdbc:postgresql://localhost:5433/sociallearning
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true

    graphql:
      path: /graphql
      graphiql:
        enabled: true
        path: /graphiql
      schema:
        printer:
          enabled: true

jwt:
  secret: your-secret-key-min-256-bits-long-change-in-production
  expiration: 86400000

logging:
  level:
    com.sociallearning: DEBUG
    org.springframework.graphql: DEBUG
